fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
openai
groq
reportlab
twilio
httpx
pydantic-settings
email-validator
pytz
slowapi
alembic
qrcode[pil]
websockets
bcrypt==4.0.1
psycopg2-binary